.slick-bg {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: initial;
  top: 50%;
  transform: translateY(-50%);
  text-align: start;
}
.carousel-caption h5 {
  font-size: 4vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: 900;
  right: 0;
}
.carousel-caption p {
  font-size: 2vw;
  /* margin: auto; */
  width: 60%;
  /* margin-top: 25px; */
  line-height: 1.9;
}
.carousel-caption a {
  text-transform: uppercase;
  background-color: rgb(192, 2, 2);
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
  text-decoration: none;
}
