.avatar-icon {
  width: 30px;
  height: 30px;
  border-radius: 25%;
}
.dropdown-avatar {
  width: 300px;
  right: 20px;
}
.dropdown-bell {
  width: 380px;
  right: 20px;
}
.bell-poster {
  width: 85px;
  height: 128px;
}
