/* Slider ArkaPlan */
.slick-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 20, 20, 1) 35%,
    rgba(83, 100, 141, 0) 100%
  );
  z-index: 1;
}
.slick-bg {
  width: 100%;
  /* background: url("https://images2.alphacoders.com/851/thumb-1920-85182.jpg"); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: -1;
}
/* Carusel Uzerindeki Yazilar */
.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: initial;
  top: 50%;
  transform: translateY(-50%);
  text-align: start;
}
.carousel-caption h5 {
  font-size: 4vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: 900;
  right: 0;
}
.carousel-caption p {
  font-size: 16px;
  /* margin: auto; */
  width: 60%;
  /* margin-top: 25px; */
  line-height: 1.9;
}

/* Film Puani */
.slider-ratting {
  position: relative;
  display: block;
  box-sizing: border-box;
}
.star-style {
  list-style: none;
}
.slider-ratting ul li {
  margin-right: 5px;
}
.fa {
  font-size: 16px !important;
  color: #e50914;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.info-p {
  margin: 20px 0;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.badge {
  display: inline-block;
  padding: 0.5rem !important;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0rem;
}
.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}
/* Cast Style */
.trending-list {
  margin: 0 0 30px 0;
}
.trending-list .title {
  color: #e50914;
  font-size: 18px;
  font-weight: 500;
}
.trending-list .title span {
  font-size: 16px;
  font-weight: 400;
}

/* Play now and more details */
.carousel-caption .play-now {
  text-transform: uppercase;
  background-color: #e50914;
  padding: 10px 40px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.more-details {
  color: #fff;
  padding: 10px 30px;
  position: relative;
  display: inline-block;
  border-radius: 0 !important;
  cursor: pointer;
  z-index: 4;
  text-decoration: none;
}
